html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif, monospace;
}
body {
  background: url(/assets/img/photo_2023-10-30_15-59-10.jpg),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
a {
  text-decoration: none;
  color: inherit;
}
h3 {
  color: #545454;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}
[class*="__container"] {
  width: 100%;
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.header {
  margin-top: 30px;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo_title {
  font-size: 32px;
  line-height: 110%;
  margin-bottom: 10px;
  color: #f1cdb3;
  font-family: "Georgia";
  letter-spacing: 0.06em;
}
.logo_subtitle {
  color: white;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  padding-left: 3px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}
.nav-list {
  display: flex;
  flex-direction: row;
  gap: 0 37px;
  margin-bottom: 5px;
}
.nav-item {
  font-family: "Arial";
  list-style-type: none;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  cursor: pointer;
  margin-top: 2px;
}
.nav-item:hover {
  color: #fafafa;
}
.nav-item_active {
  user-select: none;
  border-bottom: 3px #f1cdb3 solid;
}
.nav-item:last-child {
  margin-right: 0px;
}
.not-only {
  margin-top: 90px;
}
.not-only__container {
  /* background-image:url(./assets/img/start-screen-puppy.png);
    background-repeat: no-repeat;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.not-only-content {
  padding-top: 163px;
}
.not-only-title {
  width: 310px;
  color: white;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}
.not-only-subtitle {
  margin-top: 42px;
  width: 460px;
  font-family: "Arial";
  font-weight: 400;
  color: #cdcdcd;
  font-size: 15px;
  line-height: 160%;
}
.not-only-img {
  width: 698px;
  height: 728px;
  background-image: url(/assets/img/start-screen-puppy.png);
  background-repeat: no-repeat;
  margin-left: 40px;
  background-size: contain;
}
.not-only-btn {
  margin-top: 42px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  padding: 15px 45px;
  background-color: #f1cdb3;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
.not-only-btn:hover {
  background-color: #fddcc4;
}
.about {
  background: #ffffff;
}
.about-content {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about-pets {
  width: 300px;
  height: 408px;
  background-image: url(/assets/img/about-pets.png);
  background-repeat: no-repeat;
  margin-right: -58px;
  background-size: contain;
}
.about-text {
  padding-top: 14px;
  padding-bottom: 14px;
}
.about-title {
  width: 370px;
}
.about-subtitle {
  width: 430px;
  padding-top: 25px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}


.our-friends {
  background-color: #f6f6f6;
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-friends-content {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-friends-title {
  width: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center
}

.our-friends-title h3 {
  color: #545454;
  font-size: 35px;
  font-weight: 400;
  line-height: 45.5px;
  font-family: Georgia;
  margin-top: 0;
}

.our-friends-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
}

.our-friends-slide {
  display: none;
  flex: 0 0 auto;
  text-align: center;
  background-color: #fafafa;
  padding-bottom: 30px;
}

.our-friends-slide p {
  padding-top: 30px;
  color: #545454;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.our-friends-slide-btn {
  margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 187px;
    height: 52px;
    background-color: #FAFAFA;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.our-friends-btn {
  display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.our-friends-btn a {
  
}

.our-friends-arrow_prev,
.our-friends-arrow_next {
  cursor: pointer;
  background: transparent;
  border-radius: 50px;
  border: 2px solid #f1cdb3;
  padding: 18px 18px;
}

.our-friends-arrow_next button:hover {
  background-color: #FDDCC4;
  transition: 0.5s;
  cursor: pointer;
}



.our-friends-modal-window {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.our-friends-modal-window.active {
  display: flex;
}

.our-friends-modal {
  width: 900px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}

.our-friends-modal img {
  width: 500px;
}

.our-friends-modal-content {
  font-family: Georgia, sans-serif;
  color: black;
  align-items: center;
  text-align: left;
  margin-left: 20px;
}

.our-friends-modal-content h3 {
  font-size: 35px;
  align-items: center;
  line-height: 45.5px;
  margin-bottom: 0;
}

.our-friends-modal-content h4 {
  font-size: 20px;
  align-items: center;
  line-height: 23px;
  color: black;
  margin-top: 10px;
}

.our-friends-modal-content h5 {
  font-size: 15px;
  align-items: center;
  line-height: 16.5px;
  margin-top: 40px;
}

.our-friends-modal-content ul {
  margin-top: 38px;
  align-items: center;
  padding-left: 14px;
  line-height: 28px;
}

.our-friends-modal-content li {
  color: #FDDCC4;
}

.popup__span-bold {
  font-weight: bold;
  color: black;
}

.popup__pet-age char {
  color: black;
}

.our-friends-modal-close-button {
  position: absolute;
  top: 30px;
  right: 15%;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  background: transparent;
  font-size: 25px;
}



.help {
  background: #ffffff;
}
.help-content {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.help-title {
  text-align: center;
  width: 315px;
}
.help-list {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* height: 281px;
    width: 1026px; */
  gap: 53px 135px;
}
/* .help-item-title {
    padding-top: 30px;
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
} */
p {
  padding-top: 30px;
  color: #545454;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
.help-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-right: 80px; */
}
.help-icon {
  width: 60px;
  height: 60px;
}
.in-addition {
  background: #f6f6f6;
}
.in-addition-content {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}
.in-addition-dog {
  width: 505px;
  height: 261px;
}
.in-addition-block {
  display: flex;
  flex-direction: column;
  width: 380px;
}
.in-addition-subheader {
  margin-top: 20px;
}
.in-addition-card {
  margin-top: 20px;
  width: 349px;
  height: 43px;
  display: flex;
  flex-direction: row;
  background: #f1cdb3;
  border-radius: 9px;
  border: none;
  align-items: center;
  justify-content: space-around;

  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.in-addition-card-icon {
  width: 30px;
  height: 23px;
}
.in-addition-text {
  padding-top: 20px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}
.footer-content {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-contacts,
.footer-locations {
  display: flex;
  flex-direction: column;
  width: 278px;
  margin-top: 14px;
}
.footer-locations {
  width: 302px;
}
.footer-contacts-mail,
.footer-contacts-phone,
.footer-location {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-contacts-title,
.footer-locations-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.footer-contacts-mail-text,
.footer-contacts-phone-text,
.footer-location-text {
  margin-left: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.footer-contacts-mail-icon .footer-contacts-phone-icon {
  width: 40px;
  height: 32px;
}
.footer-location {
  margin-top: 34px;
  margin-left: 6px;
}

.footer-puppy {
  width: 300px;
  height: 310px;
}
.our-friends-arrows-mobile {
  display: none;
}
.our-friends-arrow-mobile {
  display: none;
}
